@import '../../scss/variable.scss';

.add-card-container {
	background-color: #bbc0c7;
	padding: 10px;
	border-radius: 0 0 4px 4px;
	position: absolute;
	bottom: -25px;
	left: 0;
	cursor: pointer;
	width: calc(100% - 20px);
}
.add-card-form {
	padding: 15px;
	background-color: $white;
	border-radius: 0 0 4px 4px;
	.button-container {
		display: flex;
		justify-content: space-between;
	}
}
