$default-font-size: 14px;
$default-box-shadow-color: #00000029;
$font-semi-bold: 600;
$default-background-color: #ebecf0;
$white: #ffffff;
$black: #000000;
$gray: #cccccc;
$default-color: #464646;
$primary-color: #0075ba;
$error-color: #d50000;
